@use "../../styles/mixins";
@import "../../styles/variables";

.row {
  @include mixins.respond(mixins.$phone) {
    padding: 0 3rem;
  }
}

.search__box {
  margin-top: 200px;
  align-items: center;
}
