@use "../../../styles/mixins";
@import "../../../styles/variables";

.type ~ .body [data-checked="true"] {
  & button {
    color: white !important;
  }
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.input {
  display: none;

  &:checked {
    & + .label {
      background-color: #bfde42;
      border-color: #bfde42;
      color: #fff;
    }
  }
}
.heading {
  font-size: 2.2rem;
  cursor: pointer;
  text-align: center;
}

.label {
  width: 100%;
  color: #999999;
  border: 2px solid #0000;
  border-radius: 6px;
  background: linear-gradient(#222, #222) padding-box,
    linear-gradient(90deg, #ff4d4d, #f9cb28) border-box;
  transition: all 0.3s;
  margin-bottom: 1.5rem;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-image: var(--orange-gradient);
    border-color: #bfde42;
    color: #bfde42;
  }

  @include mixins.respond(mixins.$computerScreen) {
    &:hover {
      border-color: #cde56c;
      background-color: var(--orange-gradient);
      color: #fff;
    }
  }
}
