:root {
  --color-white: #fff;
  --color-light-gray: #333;

  --text-color-gray: #999999;
  --bg-color-primary: #222;
  --bg-color-primary-light: #333;
  --scrollbar-background: #f0f0f0;
  --red-color: #ff4d4d;
  --orange-color: #fe5f1e;
  --yellow-color: #f9cb28;
  --yellow-color-second: #fbf976;
  --orange-gradient: linear-gradient(
    90deg,
    var(--red-color),
    var(--yellow-color)
  );
  --gradient-second: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    #e62632,
    #00d6b4
  );
}
