@use "../../styles/mixins";
@import "../../index.scss";

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 85px;
  background-color: var(--bg-color-primary);
  z-index: 1000;
  padding-top: 30px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  &__logo {
    text-transform: uppercase;

    background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    animation: gradient 10s ease infinite;
    transform: translate3d(0, 0, 0);
    cursor: pointer;
  }
}

.navbar {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  right: 0px;
  &__items {
    width: 600px;
    display: flex;
    margin-right: 0px;
    flex-direction: row;
    justify-content: space-between;
  }
  &__item {
    cursor: pointer;
    display: block;
    display: flex;
    font-family: "Ubuntu";
    color: var(--text-color-gray);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    transition: 0.3s;
    &:last-child {
      margin-right: 0px;
    }
    &:hover {
      background-color: var(--bg-color-primary);
      background-image: var(--orange-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &:focus {
      color: var(--color-primary-light);
    }
  }
}
